<% if(success_msg != '') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success_msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>

  <% if(error_msg != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= error_msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>

  <% if(ProPic != '') { %>
    <h1><%= ProPic %></h1> 
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <%= typeof msg != 'undefined' ? msg : '' %>
      <div class="custom-file mb-3">
          <input type="file" name="file" id="file" class="custom-file-input">
          <label for="file" class="custom-file-label">Choose File</label>
      </div>
      <input type="submit" value="Change Profile Picture" class="btn btn-primary btn-block">  
    </form>
    <br>
    <form action="RemovePhoto" method="POST">
      <input type="submit" value="Remove Profile Picture" class="btn btn-primary btn-block">
    </form>
  <% } %>

