    <nav class="navbar fixed-top navbar-expand-lg dest-nav">
        <a class="navbar-brand" href="/"><strong>Globe Trotters.</strong></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#About-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/destination">Destinations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#FAQs">FAQs</a>
                </li>
                <% if(user){%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                </li>
                <% } %>
                <% if(user){%>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <% } %>

            </ul>



        </div>
    </nav>


    <br><br><br>
    <div class="col-md-12">
        <br>
        <p style="font-size: 24px; font-weight: 400;" class="center line-1 anim-typewriter"
            style="text-align: center; font-size: 20px; font-weight: 400; color: rgb(122, 121, 121);">Pick a continent,
            explore further <i class="fas fa-shoe-prints"></i></p>
    </div>
    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="card">


                    <img class="card-img-top" src="images/asia.jpeg" alt="Asia">


                    <div class="card-body">


                        <h4 class="card-title"><a>Asia</a></h4>

                        <p class="card-text">Explore what Asia's rich culture and heritage has to offer.</p>

                        <button class="btn btn-primary" name="asia"
                            onclick="window.location.href = '/asia';">Choose</button>


                    </div>

                </div>



            </div>
            <div class="col-md-4">
                <div class="card">


                    <img class="card-img-top con-img" src="images/europe.jpeg" alt="Europe">


                    <div class="card-body">


                        <h4 class="card-title"><a>Europe</a></h4>

                        <p class="card-text">A place of natural aesthetics and beautiful cities.</p>

                        <button class="btn btn-primary" name="europe"
                            onclick="window.location.href = '/europe';">Choose</button>

                    </div>

                </div>



            </div>

            <div class="col-md-4">
                <div class="card">


                    <img class="card-img-top" src="images/africa.jpeg" alt="Africa">


                    <div class="card-body">


                        <h4 class="card-title"><a>Africa</a></h4>

                        <p class="card-text">Home to vast deserts, tropical rain forests and much more. </p>

                        <button class="btn btn-primary" onclick="window.location.href = '/africa';">Choose</button>

                    </div>

                </div>



            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-4">
                <div class="card">


                    <img class="card-img-top" src="images/australia.jpeg" alt="Australia">


                    <div class="card-body">


                        <h4 class="card-title"><a>Australia</a></h4>

                        <p class="card-text">Love beaches, oceans and boundless spaces? It only gets better here.</p>

                        <button class="btn btn-primary" onclick="window.location.href = '/australia';">Choose</button>


                    </div>

                </div>



            </div>
            <div class="col-md-4">
                <div class="card">


                    <img class="card-img-top" src="images/namerica.jpeg" alt="North America">


                    <div class="card-body">


                        <h4 class="card-title"><a>North America</a></h4>

                        <p class="card-text">Sweeping landscapes, famous views, and beautiful sights all in one package.
                        </p>

                        <button class="btn btn-primary" onclick="window.location.href = '/namerica';">Choose</button>


                    </div>

                </div>



            </div>
            <div class="col-md-4">
                <div class="card">


                    <img class="card-img-top" src="images/samerica.jpeg" alt="South America">


                    <div class="card-body">


                        <h4 class="card-title"><a>South America</a></h4>

                        <p class="card-text">Home to surreally beautiful landscapes, unspoiled jungles and panaromic
                            beaches.</p>

                        <button class="btn btn-primary" onclick="window.location.href = '/samerica';">Choose</button>


                    </div>

                </div>



            </div>
        </div>
    </div>
    <br>