<!DOCTYPE html>
<html lang="en"  class="full-height">

<head>
<title>Index | GlobeTrotters</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet">
<link href="images/land.css" type="text/css" rel="stylesheet">
<style>
  html {
    scroll-behavior: smooth;

  }
</style>
<script>
  function validate() {
    var email = document.getElementById('defaultLoginFormEmail');
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)) {
      return (true)
    }
    alert("You have entered an invalid email address!")
    return (false)
  }
</script>
</head>

<body>

<!--Main Navigation-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="/"><strong>Globe Trotters.</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/destination">Destinations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#FAQs">FAQs</a>
          </li>
          <li class="nav-item">
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="view intro-2 viewback">
    <div class="full-bg-img">
      <div class="mask rgba-indigo-slight flex-center">
        <div class="container" style="margin-left: 30%">

          <div class="white-text text-center wow fadeInUp">



            <div class="col-md-6 rounded z-depth-4 colorsign ">

              <form class="text-center p-5" action="login" method="POST">
                <p class="center line-1 anim-typewriter">Travel. Explore. Keep Writing.<i class="far fa-heart"></i>
                </p>

                <p class="h4 mb-4">Sign in</p>
                <%- include('./partials/messages.ejs'); %>


                <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4"
                  placeholder="E-mail">


                <input type="password" name="password" id="defaultLoginFormPassword" class="form-control mb-4"
                  placeholder="Password">


                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>


                <p>Not a member?
                  <a style="color: white; font-size: 20px; font-weight: 400;" href="/signup">Register</a>
                </p>




              </form>
          
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<main class="text-center py-5 mt-3">

  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <p class="center line-1 anim-typewriter">Travel far enough, meet yourself <i class="fas fa-smile-wink"></i>
        </p>


      </div>
    </div>
  </div>

</main>


<br>
<div class="container-fluid">
  <div class="row">
    <div class="container col-md-10">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner img-fluid z-depth-2">
          <div class="carousel-item active">
            <img src="images/one.jpeg" class="d-block w-100 s-img car" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/three.jpeg" class="d-block w-100 s-img car" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/two.jpeg" class="d-block w-100 s-img car" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/five.jpeg" class="d-block w-100 s-img car" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/four.jpg" class="d-block w-100 s-img car" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <br>





</div>
<div class="jumbotron abt col-10 offset-1">

  
  <div class="view overlay rounded-top" id="About-us">
    <img src="/images/aboutus.jpeg" class="img-fluid" alt="Sample image">
  
  </div>


  <div class="card-body text-center mb-3">

    
    <h3 class="card-title h3 my-4"><strong>About Us</strong></h3>
    
    <p class="card-text py-2" style="font-size: 20px;"><i class="fas fa-quote-left"></i>Travel not to escape life but
      for life not to escape us.<i class="fas fa-quote-right"></i><br>
      <span style="font-size: 17px;">We at GlobeTrotters are that one step that takes you closer to your next
        destination.</span></p>

    
    <a href="/destination" class="btn purple-gradient btn-rounded mb-4">know more</a>

  </div>

</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div id="FAQs">
      <h2 style="text-align: center"><strong>FAQs</strong></h2>
     
      <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

        
        <div class="card">

         
          <div class="card-header" role="tab" id="headingOne1">
            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
              aria-controls="collapseOne1">
              <h5 class="mb-0">
                Is it a payable platform? <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>

          
          <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
            data-parent="#accordionEx">
            <div class="card-body">
              It is absolutely free and open to any enthusiast.
            </div>
          </div>

        </div>
       
        <div class="card">

          
          <div class="card-header" role="tab" id="headingTwo2">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
              aria-expanded="false" aria-controls="collapseTwo2">
              <h5 class="mb-0">
                second question? <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>

          <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
            data-parent="#accordionEx">
            <div class="card-body">
              second answer.
            </div>
          </div>

        </div>
       
        <div class="card">

         
          <div class="card-header" role="tab" id="headingThree3">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
              aria-expanded="false" aria-controls="collapseThree3">
              <h5 class="mb-0">
                third question? <i class="fas fa-angle-down rotate-icon"></i>
              </h5>
            </a>
          </div>

          
          <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
            data-parent="#accordionEx">
            <div class="card-body">
              third answer.
            </div>
          </div>

        </div>
     

      </div>
     
      <br>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small pt-4">


  <div class="container-fluid">
    <div class="row">


      <div class="col-md-4">
        <h1>GlobeTrotters.</h1>

      </div>
      
      <div class="col-md-4">

        <ul>
          <li><a href="#About-us">About Us</a></li>
          <li><a href="/destination">Destinations</a></li>
          <li><a href="#FAQs">FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-4" id="Contact">
        <h4>Contact Us</h4>
        <p><i class="fa fa-mobile" aria-hidden="true"></i> 1234567890
          <br><i class="fa fa-phone" aria-hidden="true"></i> 0987654321
          <br><a href="mailto:globetrotters0820@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
            globetrotters0820@gmail.com</a></p>
      </div>
      
    </div>
  </div>


  <div class="footer-copyright text-center py-3"> Made with <i class="far fa-heart"></i> by GlobeTrotters
  </div>
  

</footer>
<!-- Footer -->

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/js/mdb.min.js"></script>

</body>

</html>