<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet">
    <link href="images/land.css" type="text/css" rel="stylesheet">

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/js/mdb.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <script>
        AOS.init();
      </script>
    <script>
        function validate() {
          var email = document.getElementById('defaultLoginFormEmail');
          if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)) {
            return (true)
          }
          alert("You have entered an invalid email address!")
          return (false)
        }
      </script>
      <script>
        function validate() {

            var pass = document.getElementById("password");
            var cpass = document.getElementById("cpass")
            if (pass.value.trim() != cpass.value.trim()) {
                alert("passwords entered do not match.");
                return false;
            }
            else
                true;

        }
    </script>
    <style>
        .bl {
          margin-top: 9px;
        }

        
        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }
        .files input {
            outline: 2px dashed #92b0b3;
            outline-offset: -10px;
            -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
            transition: outline-offset .15s ease-in-out, background-color .15s linear;
            padding: 120px 0px 85px 35%;
            text-align: center !important;
            margin: 0;
            width: 100% !important;
        }

        .files input:focus {
            outline: 2px dashed #92b0b3;
            outline-offset: -10px;
            -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
            transition: outline-offset .15s ease-in-out, background-color .15s linear;
            border: 1px solid #92b0b3;
        }

        .files {
            position: relative
        }

        .files:after {
            pointer-events: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 50px;
            right: 0;
            height: 56px;
            content: "";
            background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
            display: block;
            margin: 0 auto;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .color input {
            background-color: #f1f1f1;
        }

        .files:before {
            position: absolute;
            bottom: 10px;
            left: 0;
            pointer-events: none;
            width: 100%;
            right: 0;
            height: 57px;
            display: block;
            margin: 0 auto;
            color: #2ea591;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;
        }

        html {
           scroll-behavior: smooth;
        }

        body{
            overflow-x: hidden;
        }
        .view1 {
            background-color: rgb(28, 56, 102);
            height: 94%;
        }
        .view2 {
            background: url("https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")no-repeat center center;
            background-size: cover;
            height: 94%;
        }

        .view3 {
            background-color: rgb(28, 56, 102);
            height: 94%;
        }

        .view4 {
            background-image: url("https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            background-repeat: no-repeat;
            background-size: cover;
            height: 94%;
        }

        .view5 {
            background-image: url("https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            background-repeat: no-repeat;
            background-size: cover;
            height: 94%;
        }
        .view6 {
            background-image: url("https://images.pexels.com/photos/360912/pexels-photo-360912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            background-repeat: no-repeat;
            background-size: cover;
            height: 94%;
        }
    </style>
    <title>GlobeTrotter</title>
</head>
<body>
        <%- body %>
        
    <!-- Footer -->
    <footer class="page-footer font-small pt-4">


        <div class="container-fluid">
            <div class="row">


                <div class="col-md-4">
                    <h1>GlobeTrotters.</h1>

                </div>

                <div class="col-md-4">

                    <ul>
                        <li><a href="/#About-us">About Us</a></li>
                        <li><a href="/destination">Destinations</a></li>
                        <li><a href="/#FAQs">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-4" id="Contact">
                    <h4>Contact Us</h4>
                    <p><i class="fa fa-mobile" aria-hidden="true"></i> 1234567890
                        <br><i class="fa fa-phone" aria-hidden="true"></i> 0987654321
                        <br><a href="mailto:globetrotters0820@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                            globetrotters0820@gmail.com</a></p>
                </div>

            </div>
        </div>


        <div class="footer-copyright text-center py-3"> Made with <i class="far fa-heart"></i> by GlobeTrotters
        </div>


    </footer>
</body>
</html>