<html>
    <head>
        <title>new blog</title>
    <link href="images/land.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet">
    <style>
        form{
            background:salmon;
        }
    </style>


    </head>
    <body>
        <nav class="navbar navbar-expand-lg dest-nav">
            <a class="navbar-brand" href="index.html"><strong>Globe Trotters.</strong></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="destination.html">Destinations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">FAQs</a>
                    </li>
                </ul>
    
    
    
            </div>
        </nav>
    
        </div>

        <!-- Default form contact -->
        <div class="container-fluid">
         <div class="col-md-8 offset-2">
         <div>
             <form class="border border-light p-5" action="#!">
                
                 <p class="h4 mb-4">New Blog</p>
             
                 <!-- Name -->
                 <input type="text" id="blogname" class="form-control mb-4 col-4" placeholder="Title of the blog">
             
                 <!-- Subject -->
                 <label><i class="fas fa-flag"></i> Choose a Country</label><br>
                 
                 <select class="browser-default custom-select mb-4 col-4">
                     <option value="" disabled>Choose option</option>
                     <option value="1" selected>India</option>
                     <option value="2">United Kingdom</option>
                     <option value="3">Italy</option>
                     <option value="4">France</option>
                 </select><br>
                 <!-- Default inline 1-->
             <div class="custom-control custom-checkbox custom-control-inline">
                 <input type="checkbox" class="custom-control-input" id="cat1">
                 <label class="custom-control-label" for="cat1"><i class="fas fa-landmark"></i> History</label>
               </div>
               
               <!-- Default inline 2-->
               <div class="custom-control custom-checkbox custom-control-inline">
                 <input type="checkbox" class="custom-control-input" id="cat2">
                 <label class="custom-control-label" for="cat2"><i class="fas fa-utensils"></i> Food</label>
               </div>
               
               <!-- Default inline 3-->
               <div class="custom-control custom-checkbox custom-control-inline">
                 <input type="checkbox" class="custom-control-input" id="cat3">
                 <label class="custom-control-label" for="cat3"><i class="fas fa-parachute-box"></i> Things to do</label>
               </div><br>
               <input type="text" id="keyword" class="form-control mb-4" placeholder="#Keywords">
                 <!-- Message -->
                 <div class="form-group">
                     <textarea class="form-control rounded-0" id="blog_content" rows="10" placeholder="Your blog goes here..."></textarea>
                 </div>
             
                 <!-- Copy -->
                 
             
                 <!-- Send button -->
                 <button class="btn purple-gradient" type="submit">Post</button></div>
                
             </form>
             
             </div>
         </div>   
</div>
<!-- Default form contact -->



        <br><br><br><br><br><br><br>

        <footer class="page-footer font-small pt-4">

            <!--Footer Links-->
            <div class="container-fluid">
              <div class="row">
    
    
                  <div class="col-md-4">
                      <h1>GlobeTrotters.</h1>
    
                  </div>
                  <!--/.First column-->
    
                  <!--Second column-->
                  <div class="col-md-4">
    
                      <ul>
                          <li><a href="#!">About Us</a></li>
                          <li><a href="#!">Destinations</a></li>
                          <li><a href="#!">FAQs</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4">
                      <h4>Contact Us</h4>
                      <p><i class="fa fa-mobile" aria-hidden="true"></i> 1234567890
                        <br><i class="fa fa-phone" aria-hidden="true"></i> 0987654321
                        <br><i class="fa fa-envelope" aria-hidden="true"></i> asdv@gmail.com</p>
                  </div>
                  <!--/.Second column-->
              </div>
          </div>
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"> Made with <i class="far fa-heart"></i> by GlobeTrotters
        </div>
        <!-- Copyright -->
    
      </footer>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/js/mdb.min.js"></script>
    </body>
</html>