    <header>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/"><strong>Globe Trotters.</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#About-us">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/destination">Destinations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#FAQs">FAQs</a>
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="view intro-2 viewback">
            <div class="full-bg-img">
                <div class="mask rgba-indigo-slight flex-center">
                    <div class="container" style="margin-left: 30%">

                        <div class="white-text text-center wow fadeInUp">

                            <!-- Default form login -->
                            <div class="col-md-6 rounded z-depth-4 colorsign ">
                                <form class="text-center p-5" action="/verify" method="POST">

                                    <p class="h4 mb-4">Verification</p>
                                    
                                    <%- include('./partials/messages.ejs'); %>

                                    <!-- Password -->
                                    <input type="text" id="secertToken" class="form-control mb-4" name="secretToken" placeholder="Verification Code">

                                    <!-- Sign in button -->
                                    <button class="btn btn-info btn-block my-4" type="submit">Verify</button>

                                </form>
                                <!-- Default form login -->

                                <!-- Default form login -->
                            </div>
                            <!-- Default form login -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>